// Height and width
$base-max-w              = 960px
$base-min-w              = 320px
$sticky-footer           = true

// colors
$base-font-c             = #333
$secondary-text-c        = #ccc
$title-c                 = $base-font-c
$brand-c                 = #ff4e50
$body-c                  = #fff
$link-c                  = $base-font-c

//Grid
$grid-gap                = 10px
$grid-col                = 12


// fonts
$base-f-size             = 14px
$base-f-height           = 1.4
$base-f                  = 'Roboto', sans-serif
$font-face               = false
$brand-f                 = 'Montserrat', sans-serif;
$title-f                 = $brand-f

//path
$font-path               = "../fonts/"
$img-path                = "../img/"

//misc
$spacer                  = 15px
$spacer-L                = ($spacer + 5px)
$spacer-S                = ($spacer - 5px)

$link-decoration         = none
$link-decoration-hover   = underline

$transition-duration     = .4s
$radius                  = 4px

/*z index*/
$z-S                     = 1
$z-M                     = 10
$z-L                     = 100
$z-XL                    = 1000
$z-always-visible        = 1000000


/*Breakpoints*/
$xs                      = 321px
$sm                      = 481px
$md                      = 769px
$lg                      = 961px
