/*--------------------------------------
  Some useful utility classes
--------------------------------------*/
$hLine-cases = '1'  top
              ,'2'  middle
              ,'21' baseline
              ,'3'  bottom

.ut-hLine
  hLine()

for $each in $hLine-cases
  .ut-hLine--{unquote($each[0])}
    hLine($each[1])


.ut-container
  container()


.ut-hide-text,
.ut-text-hide
  hide-text()


.ut-show
  visibility visible
  position relative

.ut-hide
  visibility hidden
  position absolute


.ut-first-letter-capitalized
  &:first-letter
    text-transform: capitalize

.ut-block-link
  display: block
  &,&:hover,&:focus
    text-decoration: none
    


/*------------------------------------*\
    Responsive hiders/unhiders
\*------------------------------------*/
$responsive = xxs, xs, sm, md, lg

for $each in $responsive
  .ut-hide-{$each}
    +$each()
      hide()

  .ut-show-{$each}
    hide()
    +$each()
      show()