*,*:before,*:after
  box-sizing: border-box

html, button, input, select, textarea
  font-family: $base-f
  color: $base-font-c

body
  font-size: $base-f-size
  line-height: $base-f-height
  background-color: $body-c
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale


textarea
  vertical-align: top
  resize: none

button
  border: none
  background-color: transparent


a
  color: $link-c
  text-decoration $link-decoration
  
  &:focus
    outline 1px dotted @color

  &:hover
  &:focus
    text-decoration $link-decoration-hover
