/*
This file has excluded from build system in Gruntfile.coffee
Keep in mind this, if you'll rename it.
*/

@font-face {
  font-family: "urlaubsgluck-icon-font";
  src: url('../fonts/urlaubsgluck-icon-font.eot');
  src: url('../fonts/urlaubsgluck-icon-font.eot?#iefix') format('eot'),
       url('../fonts/urlaubsgluck-icon-font.woff') format('woff'),
       url('../fonts/urlaubsgluck-icon-font.ttf') format('truetype'),
       url('../fonts/urlaubsgluck-icon-font.svg#urlaubsgluck-icon-font') format('svg');
}

.uv-icon:before {
  font-family: "urlaubsgluck-icon-font";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
}


.uv-icon--test-icon:before {
  @extend .uv-icon:before
  content: "\E001";
}
