
.prj
  
  
  &-body
    pass()
    

  
  /*--------------------------------------------
    Header    
  --------------------------------------------*/
  &-header
    absolute left right top

    &__content
      container()
      padding-top 20px
      .flexbox &
        @extend .f-box
        @extend .f-align--2-2

      +b($sm)
        padding-top 38px
        padding-x 50px
        .flexbox &
          justify-content space-between
        .no-flexbox &
          jLine()



  
  /*--------------------------------------------
    Logo (header & footer)    
  --------------------------------------------*/
  &-logo
    font 700 20px $brand-f
    text-transform: uppercase
    letter-spacing 2px
    
     /*Pallettes*/
    for clr in brand body
      &--{clr}
        color lookup('$' + clr '-c')
    
    &--header-mobile
      @extend .prj-logo--body
      @extend .ut-show-xs
      margin-x auto
      margin-bottom 40px
      color $body-c

    &--header-desktop
      @extend .prj-logo--body
      @extend .ut-hide-xs
      @extend .ut-hide-xxs
      color $body-c
      
    &--footer-mobile
      @extend .prj-logo--brand
      @extend .ut-show-xs
      margin-x auto
      margin-bottom 20px
      color $brand-c
    
    &--footer-desktop
      @extend .prj-logo--brand
      @extend .ut-hide-xs
      @extend .ut-hide-xxs
      color $brand-c
      




  /*--------------------------------------------
    User actions (header)
  --------------------------------------------*/
  &-user-actions
    color $body-c

    .flexbox &
      @extend .f-box
      @extend .f-align--2-2
      @extend .f-gap--L
      
    .no-flexbox &
      hLine middle 
      &>*
        margin-x 10px

  

    &__login
      @extend .uv-btn
      button&
        @extend .uv-btn--no-styles
        
      &:hover
        text-decoration: underline


    &__signup
      @extend .uv-btn
      @extend .uv-btn--body-c
      


  


  /*--------------------------------------------
    Footer
  --------------------------------------------*/
  &-footer
    pass()
    
    &__column
      pass()
      



  /*--------------------------------------------
    Useful links (footer)    
  --------------------------------------------*/
  &-useful-links
    

    &__title
      pass()
      

    &__list
      pass()

      
    &__list-unit
      pass()
    



  /*--------------------------------------------
    Copyright (footer)    
  --------------------------------------------*/
  &-copyright
    

    &__caption
      pass()
      

    &__logo
      pass()


  /*--------------------------------------------
    First screen    
  --------------------------------------------*/
  &-first-screen

    +xxs()
      img "first-screen-bg-mobile.jpg"
    +b($xs $md)
      img "first-screen-bg-tablet.jpg"
    +b($md)
      img "first-screen-bg-desktop.jpg"

    
    &__content
      height 540px
      padding-x 20px
      text-align: center
      color $body-c
     
      .flexbox &
        @extend .f-box
        @extend .f-align--2-2
        @extend .f-dir--col
      .no-flexbox &
        vAlign middle
      
      +b($sm + 20)
        size: $sm 700px
        margin-x auto
        padding-x 0
        


    &__title
      text-transform uppercase
      margin-bottom 15px
      font 700 30px $title-f
      apple-font-size 29px
      

      +b($sm)
        margin-bottom 30px
        font-size 52px
        apple-font-size 48px


    &__sub-title
      font-size 18px
      font-weight 300
      margin-bottom 20px
      padding-x 25px // right phrase breaking
      
      +b($sm)
        font-size: 24px
        margin-bottom 40px

    &__action
      @extend .uv-btn
      @extend .uv-btn--brand-c
      @extend .uv-btn--brand-c.is-inverted
        
    


  /*--------------------------------------------
    Search interests
  --------------------------------------------*/
  &-search-interests
    
    &__title
      text-align: center
      font-size 18px
      font-weight 300
      margin-bottom: 10px
      
      +b($sm)
        margin-bottom 35px
      

    &__form
      //desktop first in reason of cant extend inside media mixin
      .flexbox &
        @extend .f-box
        @extend .f-align--2-2
        @extend .f-gap--M
        
      .no-flexbox &
        hLine middle 10px
        text-align: center

      +xs()
        .flexbox &
          flex-direction column
          
        .no-flexbox &
          vLine 10px      


    &__input
      @extend .uv-input

      +xs()
        margin-bottom 10px

      +b($sm)
        width 240px
      

    &__submit
      @extend .uv-btn
      @extend .uv-btn--brand-c
      @extend .uv-btn--brand-c.is-inverted


