$footer-mobile-bp = 550px
$steps-tablet-bp =  700px


.prj
  
  
  &-body
    pass()
    

  
  /*--------------------------------------------
    Header    
  --------------------------------------------*/
  &-header
    absolute left right top

    &__content
      container()
      padding-top 20px
      .flexbox &
        @extend .f-box
        @extend .f-align--2-2

      +b($sm)
        padding-top 38px
        padding-x 50px
        .flexbox &
          justify-content space-between
        .no-flexbox &
          jLine()



  
  /*--------------------------------------------
    Logo (header & footer)    
  --------------------------------------------*/
  &-logo
    title 20px 
    text-transform: uppercase
    letter-spacing 2px
    
     /*Pallettes*/
    for clr in brand-c body-c
      &--{clr}
        color lookup('$' + clr)
    
    &--header-mobile
      @extend .prj-logo--body-c
      @extend .ut-show-xs
      margin-x auto
      margin-bottom 40px

    &--header-desktop
      @extend .prj-logo--body-c
      @extend .ut-hide-xs

    &--footer
      @extend .prj-logo--brand-c
      font-size 16px
    

  /*--------------------------------------------
    User actions (header)
  --------------------------------------------*/
  &-user-actions
    color $body-c

    .flexbox &
      @extend .f-box
      @extend .f-align--2-2
      @extend .f-gap--L
      
    .no-flexbox &
      hLine middle 
      &>*
        margin-x 10px

  

    &__login
      @extend .uv-btn
      @extend .uv-btn--no-full-on-mobile
      button&
        @extend .uv-btn--no-styles
        
      &:hover
        text-decoration: underline


    &__signup
      @extend .uv-btn
      @extend .uv-btn--body-c
      @extend .uv-btn--no-full-on-mobile

      


  


  /*--------------------------------------------
    Footer
  --------------------------------------------*/
  &-footer
    border-top 4px solid $brand-c
    

    &__content  //desktop first
      container()
      @extend .f-box
      @extend .f-align--1-13
  
      +b-max($footer-mobile-bp)
        display block



    &__column //desktop first
      margin-y 40px
      
      &--logo
        transform translateY(-10%) //ctr with link-titles
        .flexbox &
          @extend .f-grid--3
        .no-flexbox &
          col 3
      

      &--links
        @extend .f-grid--2
        .no-flexbox &
          col 2
      

      &--copyright
        transform translateY(-10%) //ctr with link-titles@extend .f-align--3-1
        min-width $copyright-width
        .flexbox &
          @extend .f-grid--2
          @extend .f-box
          @extend .f-dir--col
        .no-flexbox &
          col 2


      &--empty
        @extend .ut-hide-xs
        @extend .ut-hide-sm
        @extend .f-fill



      +b-max($footer-mobile-bp)
        display block
        width: 100%
        margin-y 15px
        text-align: center
        &--logo
        &--copyright
          transform translateY(0) //ctr logo with link-titles




  /*--------------------------------------------
    Useful links (footer)    
  --------------------------------------------*/
  &-useful-links
    
    &__title
      title 14px
      margin-bottom 10px

    &__list
      vLine 5px
      
    &__list-unit
      pass()
    

  &-useful-link
    color #666
    font-size 14px
    font-weight 300
        


  /*--------------------------------------------
    Copyright (footer)    
  --------------------------------------------*/
  &-copyright    

    &__caption
      display block
      title 10px $secodary-text-c
      text-transform uppercase
      letter-spacing 1px
      text-align: center
      
      +b($footer-mobile-bp)
        text-align: right
      

    &__logo
      hide-text()
      display block
      sprite $copyright
      margin-top 5px
      margin-x auto

      +b($footer-mobile-bp)
        margin-right 0



  /*--------------------------------------------
    First screen    
  --------------------------------------------*/
  &-first-screen
    @extend .uv-sec
    img-responsive "first-screen"

    
    &__content
      height 540px
      padding-x 20px
      text-align: center
      color $body-c
     
      .flexbox &
        @extend .f-box
        @extend .f-align--2-2
        @extend .f-dir--col
      .no-flexbox &
        vAlign middle
      
      +b($sm + 20)
        size: $sm 700px
        margin-x auto
        padding-x 0
        


    &__title
      text-transform uppercase
      margin-bottom 15px
      font 700 30px $title-f
      apple-font-size 29px
      

      +b($sm)
        margin-bottom 30px
        font-size 52px
        apple-font-size 48px


    &__sub-title
      font-size 18px
      font-weight 300
      margin-bottom 20px
      padding-x 25px // right phrase breaking
      
      +b($sm)
        font-size: 24px
        margin-bottom 40px

    &__action
      @extend .uv-btn
      @extend .uv-btn--brand-c
      @extend .uv-btn--brand-c.is-inverted
        
    


  /*--------------------------------------------
    Partners
  --------------------------------------------*/
  &-partners-list
      
    +b($sm)
      .flexbox &
        display flex
        flex-wrap wrap
        
      .no-flexbox &
        hLine top
    

    &__unit
      width 200px
      margin-x auto
      margin-bottom 30px

      +b($sm)
        width: 50%
        padding-x 10px
        
      +b($md)
        width: 25%
        

    &__load-more
      @extend .uv-btn
      @extend .uv-btn--brand-c
      

    &__load-more-wrapper
      .flexbox &
        @extend .f-box
        @extend .f-align--2-2
        
      .no-flexbox &
        hLine()
        text-align: center
        
        


  &-partner
    text-align: center

    
    &__photo
      margin-x auto
      margin-bottom 20px
      size 120px
      border-radius 50%
      position relative
      
      img
        display block
        size 100%
      

    &__mark
      $border-w = 4px
      $size     = 40px

      @extend .uv-icon
      absolute bottom -($border-w) right -($border-w)
      size $size
      border-radius 50%
      border $border-w solid $body-c
      font-size 16px
      color $body-c

      .flexbox &
        @extend .f-box      
        @extend .f-align--2-2
        
      .no-flexbox &
        line-height $size   


    &__title
      title 14px
      margin-bottom 10px
      

    &__description
      @extend .ut-first-letter-capitalized
      color #666
      font-weight 300



  /*--------------------------------------------
    Categories
  --------------------------------------------*/
  $categoriesLength = 7

  &-categories-list
    vLine 10px
    margin-x auto
    
    +b($sm)
      vLine 20px

    &__unit
      width: (100% / 3)%
      size 300px 120px
      margin-x auto


      +b($sm)
        size 235px 310px

        &--L
          width: 495px
      
      
      +b($lg)
        width 300px

        &--L
          width 620px    



  /*a*/&-category
    @extend .ut-block-link
    height: inherit
    margin-x auto
    position relative
    z-index: 1
    padding-x 25px
    border-radius $radius
    background-color $base-font-c
    text-align: center

    .flexbox &
      @extend .f-box
      @extend .f-align--2-2
      
    .no-flexbox &
      display block
    

    for $category in 0..$categoriesLength
      &--{$category}:before
        +xs()
          img "category-"+$category+"-mobile.png"
        +b($sm)
          img "category-"+$category+"-desktop.png"


    //background image
    &:before
      pb mask
      opacity .7
      z-index: -1
      


    &__title
      title 22px $body-c



  /*--------------------------------------------
    Search interests
  --------------------------------------------*/
  &-steps-list-pri
    vLine 10px

    +b($steps-tablet-bp)
      f-align flex-start space-between

    &__unit
      
      +b($steps-tablet-bp)
        f-gap()
        f-grid 4



  /*a*/&-step
    @extend .ut-block-link
    position relative 
    z-index 1 //enable mask with z-index: -1
    margin-x auto
    padding 20px
    vLine 15px
    border-radius $radius
    
    //mask for better description visibility
    &:before
      pb mask
      background-image linear-gradient(to top, rgba(0, 0, 0, 0.6) 0%, transparent 100%)
      z-index: -1
      border-radius $radius


    .flexbox &
      @extend .f-box
      @extend .f-align--1-3
      @extend .f-dir--col

    +b-max($steps-tablet-bp)
      size 300px 240px
      margin-x auto

    +b($steps-tablet-bp)
      height 400px
      

    for $step in 1..3
      &--{$step}
        img "step-"+$step+"-desktop.png"


    &__status
      @extend .uv-btn
      @extend .uv-btn--S
      @extend .uv-btn--brand-c.is-inverted
      @extend .uv-btn--no-clickable
      @extend .uv-btn--no-full-on-mobile
      title 10px $body-c 400
      text-transform uppercase
      letter-spacing 2px

    
    &__title
      @extend .ut-first-letter-capitalized
      title 24px $body-c
        

    &__description
      @extend .ut-first-letter-capitalized
      color $secondary-text-c
      font-weight 300




  /*--------------------------------------------
    Search interests
  --------------------------------------------*/
  &-search-interests
    
    &__title
      text-align: center
      font-size 18px
      font-weight 300
      margin-bottom: 10px
      
      +b($sm)
        margin-bottom 35px
      

    &__form
      //desktop first in reason of cant extend inside media mixin
      .flexbox &
        @extend .f-box
        @extend .f-align--2-2
        @extend .f-gap--M
        
      .no-flexbox &
        hLine middle 10px
        text-align: center

      +xs()
        .flexbox &
          flex-direction column
          
        .no-flexbox &
          vLine 10px      


    &__input
      @extend .uv-input

      +xs()
        margin-bottom 10px

      +b($sm)
        width 240px
      

    &__submit
      @extend .uv-btn
      @extend .uv-btn--brand-c
      @extend .uv-btn--brand-c.is-inverted


