$footer-mobile-bp = 550px
$steps-tablet-bp =  700px


.prj


  &-body
    pass()



  /*--------------------------------------------
    Header
  --------------------------------------------*/
  &-header
    absolute left right top

    &__content
      container()
      padding-top 20px
      .flexbox &
        @extend .f-box
        @extend .f-align--2-2

      +b($sm)
        padding-top 38px
        padding-x 50px
        .flexbox &
          justify-content space-between
        .no-flexbox &
          jLine()




  /*--------------------------------------------
    Logo (header & footer)
  --------------------------------------------*/
  &-logo
    title 20px
    text-transform: uppercase
    letter-spacing 2px

     /*Pallettes*/
    for clr in brand-c body-c
      &--{clr}
        color lookup('$' + clr)

    &--header-mobile
      @extend .prj-logo--body-c
      @extend .ut-show-xs
      margin-x auto
      margin-bottom 40px

    &--header-desktop
      @extend .prj-logo--body-c
      @extend .ut-hide-xs

    &--footer
      @extend .prj-logo--brand-c
      font-size 16px


  /*--------------------------------------------
    User actions (header)
  --------------------------------------------*/
  &-user-actions
    color $body-c

    .flexbox &
      @extend .f-box
      @extend .f-align--2-2
      @extend .f-gap--L

    .no-flexbox &
      hLine middle
      &>*
        margin-x 10px



    &__login
      @extend .uv-btn
      @extend .uv-btn--no-full-on-mobile
      button&
        @extend .uv-btn--no-styles

      &:hover
        text-decoration: underline


    &__signup
      @extend .uv-btn
      @extend .uv-btn--body-c
      @extend .uv-btn--no-full-on-mobile







  /*--------------------------------------------
    Footer
  --------------------------------------------*/
  &-footer
    border-top 4px solid $brand-c


    &__content  //desktop first
      container()
      
      .flexbox &
        @extend .f-box
        @extend .f-align--1-13
        
      .no-flexbox &
        cf()

      +b-max($footer-mobile-bp)
        display block



    &__column //desktop first
      margin-y 40px

      &--logo
        transform translateY(-10%) //ctr with link-titles
        .flexbox &
          @extend .f-grid--3
        .no-flexbox &
          col(1/4)


      &--links
        @extend .f-grid--2
        .no-flexbox &
          col(1/6)


      &--copyright
        transform translateY(-10%) //ctr with link-titles@extend .f-align--3-1
        min-width $copyright-width
        .flexbox &
          @extend .f-grid--2
          @extend .f-box
          @extend .f-dir--col
        .no-flexbox &
          col(1/6)


      &--empty
        @extend .ut-hide-xs
        @extend .ut-hide-sm
        .flexbox &
          @extend .f-fill
        .no-flexbox &
          col(1/6)


      +b-max($footer-mobile-bp)
        display block
        width: 100%
        margin-y 15px
        text-align: center
        &--logo
        &--copyright
          transform translateY(0) //ctr logo with link-titles




  /*--------------------------------------------
    Useful links (footer)
  --------------------------------------------*/
  &-useful-links

    &__title
      title 14px
      margin-bottom 10px

    &__list
      vLine 5px

    &__list-unit
      pass()


  &-useful-link
    color #666
    font-size 14px
    font-weight 300



  /*--------------------------------------------
    Copyright (footer)
  --------------------------------------------*/
  &-copyright

    &__caption
      display block
      title 10px #999
      text-transform uppercase
      letter-spacing 1px
      text-align: center

      +b($footer-mobile-bp)
        text-align: right


    &__logo
      hide-text()
      display block
      sprite $copyright
      margin-top 5px
      margin-x auto

      +b($footer-mobile-bp)
        margin-right 0



  /*--------------------------------------------
    First screen
  --------------------------------------------*/
  &-first-screen
    @extend .uv-sec
    container 100%
    img-responsive "first-screen"
    text-align: center
    background-size cover
    
    .no-flexbox &
      vAlign middle
      height 540px

      +b($sm + 20)
        height 700px


    &__content
      container()
      padding-x 20px
      color $body-c

      .flexbox &
        @extend .f-box
        @extend .f-align--2-2
        @extend .f-dir--col
        height 540px

        +b($sm + 20)
          height 700px

      +b($sm + 20)
        width: $sm
        margin-x auto
        padding-x 0



    &__title
      text-transform uppercase
      margin-bottom 15px
      font 700 30px $title-f
      apple-font-size 29px


      +b($sm)
        margin-bottom 30px
        font-size 52px
        apple-font-size 48px


    &__sub-title
      font-size 18px
      font-weight 300
      margin-bottom 20px
      padding-x 25px // right phrase breaking

      +b($sm)
        font-size: 24px
        margin-bottom 40px

    &__action
      @extend .uv-btn
      @extend .uv-btn--brand-c
      @extend .uv-btn--brand-c.is-inverted

      &:hover
        color $body-c




  /*--------------------------------------------
    Partners
  --------------------------------------------*/
  &-partners-list

    +b($sm)
      .flexbox &
        display flex
        flex-wrap wrap

      .no-flexbox &
        hLine top


    &__unit
      width 200px
      margin-x auto
      margin-bottom 30px

      +b($sm)
        width: 50%
        padding-x 10px

      +b($md)
        width: 25%


    &__load-more
      @extend .uv-btn
      @extend .uv-btn--brand-c


    &__load-more-wrapper
      .flexbox &
        @extend .f-box
        @extend .f-align--2-2

      .no-flexbox &
        hLine()
        text-align: center




  &-partner
    text-align: center


    &__photo
      margin-x auto
      margin-bottom 20px
      size 120px
      border-radius 50%
      position relative

      img
        display block
        size 100%


    &__mark
      $border-w = 4px
      $size     = 40px

      @extend .uv-icon
      absolute bottom -($border-w) right -($border-w)
      size $size
      border-radius 50%
      border $border-w solid $body-c
      font-size 16px
      color $body-c

      .flexbox &
        @extend .f-box
        @extend .f-align--2-2

      .no-flexbox &
        line-height $size


    &__title
      title 14px
      margin-bottom 10px


    &__description
      @extend .ut-first-letter-capitalized
      color #666
      font-weight 300



  /*--------------------------------------------
    Categories
  --------------------------------------------*/
  $categoriesLength       = 7
  $category-item-h-mobile = 120px
  $category-item-h        = 310px


  &-categories-list
    vLine 10px
    margin-x auto

    +b($sm)
      vLine 20px

    &__unit
      width: (100% / 3)%
      size 300px $category-item-h-mobile
      margin-x auto


      +b($sm)
        size 235px $category-item-h

        &--L
          width: 495px


      +b($lg)
        width 300px

        &--L
          width 620px



  /*a*/&-category
    $gap-x = 25px
    @extend .ut-block-link
    height: inherit
    margin-x auto
    position relative
    z-index: 1
    padding-x $gap-x
    border-radius $radius
    background-color $base-font-c
    text-align: center
    hover-image-animation()

    //background image
    &:before
      pb mask
      opacity .7
      z-index: -1


    .flexbox &
      @extend .f-box
      @extend .f-align--2-2

    .no-flexbox &
      display block

    .no-flexbox.csstransforms &
      &__title
        ctr y
        text-align: center
        width 100%
        margin-x -($gap-x)

    .no-flexbox.no-csstransforms &
      padding-top 25px


    for $category in 0..$categoriesLength
      &--{$category}:before
        +xs()
          img "category-"+$category+"-mobile.png"
        +b($sm)
          img "category-"+$category+"-desktop.png"



    &__title
      title 22px $body-c



  /*--------------------------------------------
    Search interests
  --------------------------------------------*/
  &-steps-list-pri
    vLine 10px

    +b($steps-tablet-bp)
      cf()

    &__unit
      position relative

      +b($steps-tablet-bp)
        col(1/3)


    -control()
      @extend .ut-hide-xs
      @extend .uv-icon
      @extend .icon_arrow-rt-1
      font-size 55px
      size 30px @font-size
      line-height: @font-size
      text-align: center
      color alpha($body-c, .5)
      trans unquote("opacity, color")
      text-decoration: none

      &:hover
        color $body-c

      &:focus
        outline none

      +b($sm)
        absolute top 40px right 20px

      +b($md)
        top 150px

      if arguments[0] is prev
        transform rotate(180deg)
        +b($sm)
          left 20px

      .disabled
        opacity 0
        
      .ie9 &
      .ie8 &
        z-index: 1
        top auto
        bottom 40px
        
        
        


    /*a*/.bx-prev
      -control prev

    /*a*/.bx-next
      -control next




  /*a*/&-step
    @extend .ut-block-link
    position relative
    z-index 1 //enable mask with z-index: -1
    margin-x auto
    padding 20px
    vLine 15px
    border-radius $radius
    background-color #ff8523
    hover-image-animation()

    //image
    &:before
      pb mask
      z-index: -2
      border-radius $radius
      opacity .9

    //mask for better description visibility
    &:after
      pb mask
      z-index: -1
      .cssgradients &
        background-image linear-gradient(to top, rgba(0, 0, 0, 0.6) 0%, transparent 100%)

      .no-cssgradients &
        background-color alpha(#000, .4)

    .flexbox &
      @extend .f-box
      @extend .f-align--1-3
      @extend .f-dir--col

    +b-max($steps-tablet-bp)
      size 300px 240px
      margin-x auto

    +b($steps-tablet-bp)
      height 400px


    for $step in 1..3
      &--{$step}:before
        img "step-"+$step+".png"


    &__status
      @extend .uv-btn
      @extend .uv-btn--S
      @extend .uv-btn--no-clickable
      width: auto
      background-color $brand-c
      text-transform uppercase
      letter-spacing 2px
      title 10px $body-c 400


    &__title
      @extend .ut-first-letter-capitalized
      title 24px $body-c


    &__description
      @extend .ut-first-letter-capitalized
      color $secondary-text-c
      font-weight 300



  /*--------------------------------------------
    Search interests
  --------------------------------------------*/
  &-search-interests

    &__title
      text-align: center
      font-size 18px
      font-weight 300
      margin-bottom: 10px

      +b($sm)
        margin-bottom 35px


    &__form
      //desktop first in reason of cant extend inside media mixin
      .flexbox &
        @extend .f-box
        @extend .f-align--2-2
        @extend .f-gap--M

      .no-flexbox &
        hLine middle 10px
        text-align: center

      +xs()
        .flexbox &
          flex-direction column

        .no-flexbox &
          vLine 10px


    &__input
      @extend .uv-input

      +xs()
        margin-bottom 10px

      +b($sm)
        width 240px


    &__submit
      @extend .uv-btn
      @extend .uv-btn--brand-c
      @extend .uv-btn--brand-c.is-inverted


