/*z index*/
/*--------------------------------------
  Shortcuts for pseudo-elements
--------------------------------------*/
/*--------------------------------------
  Quick image insert
--------------------------------------*/
/*--------------------------------------
  Colors for states(hover, focus, etc)
--------------------------------------*/
/*--------------------------------------
    Layout helpers
--------------------------------------*/
/*--------------------------------------
    Responsive helpers
--------------------------------------*/
/*--------------------------------------
    Unsorted
--------------------------------------*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
main {
  display: block;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
button,
input,
select,
textarea {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
html,
button,
input,
select,
textarea,
html:hover,
button:hover,
input:hover,
select:hover,
textarea:hover,
html:focus,
button:focus,
input:focus,
select:focus,
textarea:focus,
html:active,
button:active,
input:active,
select:active,
textarea:active,
html:visited,
button:visited,
input:visited,
select:visited,
textarea:visited {
  color: #565656;
}
html {
  height: 100%;
}
body {
  height: 100%;
  font-size: 13px;
  line-height: 1.4;
  background-color: #fff;
}
/*

input:not([type=radio]):not([type=checkbox]), textarea
  height: $input-h
  padding 0 10px
  label &
    display block
    width: 100%
    margin-bottom: 10px

for $type in radio checkbox
[type={$type}]{}
*/
textarea {
  vertical-align: top;
  resize: none;
}
button {
  border: none;
  background-color: transparent;
}
label {
  display: block;
}
label span {
  display: block;
  margin-bottom: 2px;
}
a {
  text-decoration: underline;
}
a,
a:hover,
a:focus,
a:active,
a:visited {
  color: $linkColor;
}
a:hover {
  text-decoration: none;
}
a:hover,
a:hover:hover,
a:hover:focus,
a:hover:active,
a:hover:visited {
  color: $hoveredLinkColor;
}
a:focus {
  outline: thin dotted;
}
a:focus,
a:focus:hover,
a:focus:focus,
a:focus:active,
a:focus:visited {
  color: $focusedLinkColor;
}
a:active,
a:active:hover,
a:active:focus,
a:active:active,
a:active:visited {
  color: $activeLinkColor;
}
a:visited,
a:visited:hover,
a:visited:focus,
a:visited:active,
a:visited:visited {
  color: $visitedLinkColor;
}
.l-hLine>* {
  display: inline-block;
  vertical-align: baseline;
}
.flexbox .l-jLine {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}
.no-flexbox .l-jLine {
  text-align: justify;
  font-size: 1px;
  line-height: 0;
  text-justify: newspaper;
  zoom: 1;
  text-align-last: justify;
}
.no-flexbox .l-jLine>* {
  display: inline-block;
  vertical-align: baseline;
}
.no-flexbox .l-jLine:after {
  content: '';
  display: inline-block;
  vertical-align: auto;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  width: 100%;
}
.no-flexbox .l-jLine>* {
  text-align: left;
  font-size: 13px;
  line-height: 1.4;
}
.l-hLine--bottom>* {
  display: inline-block;
  vertical-align: bottom;
}
.flexbox .l-jLine--bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: bottom;
  -webkit-align-items: bottom;
  -ms-flex-align: bottom;
  align-items: bottom;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.no-flexbox .l-jLine--bottom {
  text-align: justify;
  font-size: 1px;
  line-height: 0;
  text-justify: newspaper;
  zoom: 1;
  text-align-last: justify;
}
.no-flexbox .l-jLine--bottom>* {
  display: inline-block;
  vertical-align: bottom;
}
.no-flexbox .l-jLine--bottom:after {
  content: '';
  display: inline-block;
  vertical-align: auto;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  width: 100%;
}
.no-flexbox .l-jLine--bottom>* {
  text-align: left;
  font-size: 13px;
  line-height: 1.4;
}
.l-hLine--middle>* {
  display: inline-block;
  vertical-align: middle;
}
.flexbox .l-jLine--middle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: middle;
  -webkit-align-items: middle;
  -ms-flex-align: middle;
  align-items: middle;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.no-flexbox .l-jLine--middle {
  text-align: justify;
  font-size: 1px;
  line-height: 0;
  text-justify: newspaper;
  zoom: 1;
  text-align-last: justify;
}
.no-flexbox .l-jLine--middle>* {
  display: inline-block;
  vertical-align: middle;
}
.no-flexbox .l-jLine--middle:after {
  content: '';
  display: inline-block;
  vertical-align: auto;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  width: 100%;
}
.no-flexbox .l-jLine--middle>* {
  text-align: left;
  font-size: 13px;
  line-height: 1.4;
}
.l-hLine--top>* {
  display: inline-block;
  vertical-align: top;
}
.flexbox .l-jLine--top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: top;
  -webkit-align-items: top;
  -ms-flex-align: top;
  align-items: top;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.no-flexbox .l-jLine--top {
  text-align: justify;
  font-size: 1px;
  line-height: 0;
  text-justify: newspaper;
  zoom: 1;
  text-align-last: justify;
}
.no-flexbox .l-jLine--top>* {
  display: inline-block;
  vertical-align: top;
}
.no-flexbox .l-jLine--top:after {
  content: '';
  display: inline-block;
  vertical-align: auto;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  width: 100%;
}
.no-flexbox .l-jLine--top>* {
  text-align: left;
  font-size: 13px;
  line-height: 1.4;
}
.l-hLine--float>* {
  display: inline-block;
  vertical-align: float;
}
.flexbox .l-jLine--float {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: float;
  -webkit-align-items: float;
  -ms-flex-align: float;
  align-items: float;
}
.no-flexbox .l-jLine--float {
  text-align: justify;
  font-size: 1px;
  line-height: 0;
  text-justify: newspaper;
  zoom: 1;
  text-align-last: justify;
}
.no-flexbox .l-jLine--float>* {
  display: inline-block;
  vertical-align: float;
}
.no-flexbox .l-jLine--float:after {
  content: '';
  display: inline-block;
  vertical-align: auto;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  width: 100%;
}
.no-flexbox .l-jLine--float>* {
  text-align: left;
  font-size: 13px;
  line-height: 1.4;
}
.l-container {
  max-width: 960px;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}
.hide-text,
.text-hide {
  font: 0/0 serif;
}
ul.list-reset,
ul.reset-list,
ol.list-reset,
ol.reset-list {
  list-style-type: none;
  list-style-image: none;
}
.link-decorated {
  text-decoration: underline;
}
.link-decorated:hover,
.link-decorated:focus {
  text-decoration: none;
}
.link-decorated-reverse {
  text-decoration: none;
}
.link-decorated-reverse:hover,
.link-decorated-reverse:focus {
  text-decoration: underline;
}
.is-shown {
  visibility: visible !important;
  position: relative !important;
}
.is-hidden {
  visibility: hidden !important;
  position: absolute !important;
}
small.is-error {
  font-size: 11px !important;
  position: absolute !important;
}
small.is-error,
small.is-error:active,
small.is-error:visited {
  color: #e34f59;
}
small.is-error:hover,
small.is-error:focus {
  color: !important;
}
input.is-error {
  border: 1px solid #e34f59 !important;
}
