-
  steps = [
    {title: "mi nulla ac enim", description: "maecenas ut massa quis augue luctus tincidunt nulla mollis molestie lorem"},
    {title: "turpis nec euismod", description: "ante ipsum primis in faucibus orci luctus et ultrices posuere"},
    {title: "pede lobortis ligula", description: "velit donec diam neque vestibulum eget vulputate ut ultrices vel augue vestibulum"},
    {title: "neque libero convallis eget eleifend", description: "nec condimentum neque sapien placerat ante nulla justo aliquam quis turpis eget elit sodales"},
    {title: "libero nam dui", description: "convallis duis consequat dui nec nisi volutpat eleifend donec ut dolor morbi vel lectus"},
    {title: "volutpat convallis morbi", description: "tortor quis turpis sed ante vivamus tortor duis mattis egestas"},
    {title: "sapien cum sociis natoque penatibus", description: "laoreet ut rhoncus aliquet pulvinar sed nisl nunc rhoncus dui"},
    {title: "ac consequat metus sapien", description: "potenti nullam porttitor lacus at turpis donec posuere metus vitae ipsum aliquam non mauris"},
    {title: "quis lectus suspendisse", description: "nec nisi volutpat eleifend donec ut dolor morbi vel lectus in quam"},
    {title: "felis donec semper sapien a", description: "et commodo vulputate justo in blandit ultrices enim lorem ipsum dolor"},
    {title: "justo etiam pretium iaculis", description: "sapien cum sociis natoque penatibus et magnis dis parturient montes nascetur ridiculus mus etiam"},
    {title: "habitasse platea dictumst", description: "ultrices mattis odio donec vitae nisi nam ultrices libero non mattis pulvinar nulla pede ullamcorper"},
    {title: "ante vel ipsum", description: "velit id pretium iaculis diam erat fermentum justo nec condimentum"},
    {title: "ut mauris eget massa", description: "mauris eget massa tempor convallis nulla neque libero convallis eget eleifend luctus ultricies"},
    {title: "tellus nisi eu orci mauris", description: "commodo vulputate justo in blandit ultrices enim lorem ipsum dolor sit amet consectetuer adipiscing"},
    {title: "dapibus duis at velit eu", description: "ultrices vel augue vestibulum ante ipsum primis in faucibus orci luctus et ultrices"},
    {title: "ligula sit amet", description: "odio cras mi pede malesuada in imperdiet et commodo vulputate"},
    {title: "luctus tincidunt nulla mollis molestie", description: "nisl nunc rhoncus dui vel sem sed sagittis nam congue risus semper porta"},
    {title: "libero nam dui proin", description: "nunc rhoncus dui vel sem sed sagittis nam congue risus semper porta volutpat"},
    {title: "sem praesent id massa", description: "curabitur at ipsum ac tellus semper interdum mauris ullamcorper purus sit amet nulla quisque"},
    {title: "sit amet eleifend pede", description: "suscipit nulla elit ac nulla sed vel enim sit amet nunc viverra dapibus"},
    {title: "libero rutrum ac", description: "odio porttitor id consequat in consequat ut nulla sed accumsan felis ut"},
    {title: "duis bibendum morbi non quam", description: "mi nulla ac enim in tempor turpis nec euismod scelerisque quam turpis adipiscing lorem"},
    {title: "habitasse platea dictumst etiam faucibus", description: "in felis donec semper sapien a libero nam dui proin leo odio porttitor id consequat"},
    {title: "in porttitor pede justo", description: "blandit lacinia erat vestibulum sed magna at nunc commodo placerat"},
    {title: "rhoncus dui vel", description: "sem praesent id massa id nisl venenatis lacinia aenean sit"},
    {title: "sapien placerat ante nulla justo", description: "cursus urna ut tellus nulla ut erat id mauris vulputate elementum nullam varius"}
  ]
  partners = [
    {icon_color: "#ff4e50", icon_type: "tv-1", full_name: "Karen Campbell", description: "et magnis dis parturient montes nascetur ridiculus mus etiam vel augue vestibulum rutrum rutrum neque aenean auctor gravida"},
    {icon_color: "#ffa507", icon_type: "bottle-1", full_name: "Phyllis Knight", description: "consequat nulla nisl nunc nisl duis bibendum felis sed interdum venenatis"},
    {icon_color: "#1cd7ad", icon_type: "cup-1", full_name: "Harry Stone", description: "aliquet at feugiat non pretium quis lectus suspendisse potenti in eleifend quam a odio in hac habitasse platea"},
    {icon_color: "#4e73db", icon_type: "plane-1", full_name: "Martha Martinez", description: "ridiculus mus vivamus vestibulum sagittis sapien cum sociis natoque penatibus et magnis dis parturient montes"},
    {icon_color: "#ffa507", icon_type: "plane-1", full_name: "Judith Young", description: "nec molestie sed justo pellentesque viverra pede ac diam cras pellentesque volutpat dui maecenas tristique est et"},
    {icon_color: "#1cd7ad", icon_type: "cup-1", full_name: "Brian Hicks", description: "aenean fermentum donec ut mauris eget massa tempor convallis nulla neque libero convallis"},
    {icon_color: "#4e73db", icon_type: "tv-1", full_name: "Wayne Carter", description: "ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae mauris viverra diam vitae quam suspendisse"},
    {icon_color: "#ff4e50", icon_type: "bottle-1", full_name: "Shirley Lopez", description: "non ligula pellentesque ultrices phasellus id sapien in sapien iaculis congue vivamus metus arcu adipiscing"},
    {icon_color: "#1cd7ad", icon_type: "cup-1", full_name: "Eugene Stephens", description: "velit eu est congue elementum in hac habitasse platea dictumst morbi"},
    {icon_color: "#4e73db", icon_type: "tv-1", full_name: "Billy Dean", description: "libero nam dui proin leo odio porttitor id consequat in"},
    {icon_color: "#ffa507", icon_type: "bottle-1", full_name: "Jean Graham", description: "sapien urna pretium nisl ut volutpat sapien arcu sed augue aliquam erat volutpat in congue etiam justo etiam"},
    {icon_color: "#1cd7ad", icon_type: "plane-1", full_name: "Ann Diaz", description: "nulla justo aliquam quis turpis eget elit sodales scelerisque mauris sit amet eros suspendisse accumsan tortor quis turpis sed ante"}
  ]
  